/*
 * Custom Style.
 */

/*
 * Section
 */

section {
    padding-top:90px;  
    padding-bottom:50px; 
    min-height:calc(100% - 20px);
}

#section1 {
  background-color: #FFF;
  color:#000;
}
  
#section2 {
  background-color: #e5e5ef;
  color:#0088CC;
}
  
#section3 {
  background-color: #C3DAE3;
  color:#000;
}

.nav-section{
  position:fixed;
  width:30px;
  height:84px;
  z-index:100;
  right:0;
  top:50%;
  margin-top:-42px
}

.nav-section a{
  text-indent:-9999px;
  display:block;
  width:14px;
  height:14px;
  background:#66B8E0;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  margin-bottom:20px;
  -webkit-transition:background .5s;
  -moz-transition:background .5s;
  -ms-transition:background .5s;
  -o-transition:background .5s;
  transition:background .5s
}

